<% include header %>

<div class="container">
  <h1>Mr. Jenkins</h1>
  <img src="/logo.png" />
  <p class="lead">
    We’re open 7 days, so start your shopping experience now!
  </p>
  <p>
    Order your favorite sub and picking it up and the closest Publix store to your location.
  </p>
  <ul>
    <li>
      <a href="https://www.originalcoastclothing.com/"
        >Mock Publix Deli Subs Website</a
      >
    </li>
    <li>
      Want to build your own?
      <a
        href="https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include footer %>
