<% include header %>

  <div id="buttons">
    <h2>Buttons</h2>
    <button type="button" id="share-button">Share</button>
  </div>
  <h1>Mr. Jenkins</h1>
  <!-- <div class="container2">
    <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div> -->
  <img src="/logo.png" />
  <p class="lead">
    We’re open 7 days, so start your shopping experience now!
  </p>
  <p>
    Order your favorite sub and picking it up and the closest Publix store to your location.
  </p>
  <ul>
    <li>
      <a href="https://www.publix.com/shop-online/in-store-pickup/subs-and-flatbreads/d3a5f2da-3002-4c6d-949c-db5304577efb"
        >The Real Publix Deli Subs Website</a
      >
    </li>
    <li>
      Want to build your own?
      <a
        href="https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing"
        >DevDocs</a
      >
    </li>
  </ul>
</div>

<% include footer %>
